.container-fluid
{
    /* background-color: #21293D; */
    /* background-image: url('../../Images/background.jpg'); */
    background-image: url(../../Images/background.jpg);
    background-repeat: round;
    
}

.dashboard >a>i :hover
{
    color: white;
}
/* .app
{
    bg-right
} */
@media (min-width: 768px)
{
.col-md-3 {
    flex: 0 0 auto;
    width: 35%;
}
}